---
type   : post
title  : "Bavarian Motor Works"
date   : 2017-10-29T09:17:35+07:00
slug   : bmw
categories: [ketok]
tags   : [mobil]
author : epsi

---

    <!-- Page Content -->
    <div class="container">

      <h3 class="my-4 text-center text-lg-left">Oktober 2017:</h3>
      <p>Bayerische Motoren Werke</p>

      <div class="row text-center text-lg-left">

        <div class="col-xl-4 col-md-4 col-sm-6">
          <div href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" alt=""
                 src="{{< baseurl >}}posts/2017/10/20171029-logo.jpg"><br/>
            Logo Depan.
          </div>
        </div>

        <div class="col-xl-4 col-md-4 col-sm-6">
          <div href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" alt=""
                 src="{{< baseurl >}}posts/2017/10/20171029-velg.jpg"><br/>
            Velg Ban.
          </div>
        </div>

        <div class="col-xl-4 col-md-4 col-sm-6">
          <div href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" alt=""
                 src="{{< baseurl >}}posts/2017/10/20171029-malam.jpg"><br/>
            Malam Hari.
          </div>
        </div>

        <div class="col-xl-4 col-md-4 col-sm-6">
          <div href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" alt=""
                 src="{{< baseurl >}}posts/2017/10/20171126-siang.jpg"><br/>
            Siang Hari.
          </div>
        </div>

      </div>

    </div>
    <!-- /.container -->
