---
type   : post
title  : "Poles Truk"
date   : 2017-10-12T09:17:35+07:00
slug   : truk
categories: [ketok]
tags   : [mobil]
author : epsi

---

    <!-- Page Content -->
    <div class="container">

      <h3 class="my-4 text-center text-lg-left">Oktober 2017:</h3>

      <div class="row text-center text-lg-left">

        <div class="col-xl-4 col-md-4 col-sm-6">
          <div href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" alt=""
                 src="{{< baseurl >}}posts/2017/10/20171012-belakang.jpg"><br/>
            Tampak Belakang.
          </div>
        </div>

        <div class="col-xl-4 col-md-4 col-sm-6">
          <div href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" alt=""
                 src="{{< baseurl >}}posts/2017/10/20171012-sebelum.jpg"><br/>
            Sebelum.
          </div>
        </div>

        <div class="col-xl-4 col-md-4 col-sm-6">
          <div href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" alt=""
                 src="{{< baseurl >}}posts/2017/10/20171018-sesudah.jpg"><br/>
            Sesudah.
          </div>
        </div>

      </div>

    </div>
    <!-- /.container -->


