---
type   : post
title  : "Malam Hari"
date   : 2017-09-08T09:17:35+07:00
slug   : malam
categories: [ketok]
tags   : [mobil]
author : epsi

---

    <!-- Page Content -->
    <div class="container">

      <h3 class="my-4 text-center text-lg-left">Oktober 2017:</h3>

      <div class="row text-center text-lg-left">

        <div class="col-xl-4 col-md-4 col-sm-6">
          <div href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" alt=""
                 src="{{< baseurl >}}posts/2017/09/20171008-baut.jpg"><br/>
            Baut.
          </div>
        </div>

        <div class="col-xl-4 col-md-4 col-sm-6">
          <div href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" alt=""
                 src="{{< baseurl >}}posts/2017/09/20171008-kunci.jpg"><br/>
            Kunci.
          </div>
        </div>

        <div class="col-xl-4 col-md-4 col-sm-6">
          <div href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" alt=""
                 src="{{< baseurl >}}posts/2017/09/20171008-lampu.jpg"><br/>
            Lampu.
          </div>
        </div>

      </div>

    </div>
    <!-- /.container -->



