---
type   : post
title  : "Persiapan Bengkel"
date   : 2017-07-25T09:17:35+07:00
slug   : persiapan
categories: [ketok]
tags   : [mobil]
author : epsi

---

    <!-- Page Content -->
    <div class="container">

      <h3 class="my-4 text-center text-lg-left">Juli 2017:</h3>
      <p>Saat itu ruangan oven belum jadi.</p>

      <div class="row text-center text-lg-left">

        <div class="col-xl-4 col-md-4 col-sm-6">
          <div href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" alt=""
                 src="{{< baseurl >}}posts/2017/07/20170707-oven.jpg"><br/>
            Oven Belum Jadi.
          </div>
        </div>

        <div class="col-xl-4 col-md-4 col-sm-6">
          <div href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" alt=""
                 src="{{< baseurl >}}posts/2017/07/20170725-kaleng.jpg"><br/>
            Persediaan Cat.
          </div>
        </div>

        <div class="col-xl-4 col-md-4 col-sm-6">
          <div href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" alt=""
                 src="{{< baseurl >}}posts/2017/07/20170725-lemari.jpg"><br/>
            Lemari Sederhana.
          </div>
        </div>

        <div class="col-xl-4 col-md-4 col-sm-6">
          <div href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" alt=""
                 src="{{< baseurl >}}posts/2017/07/20170725-mobil.jpg"><br/>
            Mobil Singgah.
          </div>
        </div>

      </div>

    </div>
    <!-- /.container -->

