---
type   : post
title  : "Dinding Oven"
date   : 2018-02-16T09:17:35+07:00
slug   : oven
categories: [ketok]
tags   : [mobil]
author : epsi

---

    <!-- Page Content -->
    <div class="container">

      <h3 class="my-4 text-center text-lg-left">Februari 2018:</h3>

      <div class="row text-center text-lg-left">

        <div class="col-xl-4 col-md-4 col-sm-6">
          <div href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" alt=""
                 src="{{< baseurl >}}posts/2018/02/20180218-kanan.jpg"><br/>
            Kanan.
          </div>
        </div>

        <div class="col-xl-4 col-md-4 col-sm-6">
          <div href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" alt=""
                 src="{{< baseurl >}}posts/2018/02/20180218-kiri.jpg"><br/>
            Kiri.
          </div>
        </div>

        <div class="col-xl-4 col-md-4 col-sm-6">
          <div href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" alt=""
                 src="{{< baseurl >}}posts/2018/02/20180218-depan.jpg"><br/>
            Depan.
          </div>
        </div>

      </div>

    </div>
    <!-- /.container -->

