---
type   : post
title  : "Mercedez"
date   : 2018-09-05T09:17:35+07:00
slug   : merci
categories: [ketok]
tags   : [mobil]
author : epsi

---

    <!-- Page Content -->
    <div class="container">

      <h3 class="my-4 text-center text-lg-left">September 2018:</h3>

      <div class="row text-center text-lg-left">

        <div class="col-xl-4 col-md-4 col-sm-6">
          <div href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" alt=""
                 src="{{< baseurl >}}posts/2018/09/20180905-depan.jpg"><br/>
            Depan.
          </div>
        </div>

        <div class="col-xl-4 col-md-4 col-sm-6">
          <div href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" alt=""
                 src="{{< baseurl >}}posts/2018/09/20180905-belakang.jpg"><br/>
            Belakang.
          </div>
        </div>

      </div>

    </div>
    <!-- /.container -->
