---
type   : post
title  : "Kap Mobil"
date   : 2018-03-11T09:17:35+07:00
slug   : hood
categories: [ketok]
tags   : [mobil]
author : epsi

---

    <!-- Page Content -->
    <div class="container">

      <h3 class="my-4 text-center text-lg-left">Maret 2018:</h3>

      <div class="row text-center text-lg-left">

        <div class="col-xl-4 col-md-4 col-sm-6">
          <div href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" alt=""
                 src="{{< baseurl >}}posts/2018/03/20180304-depan-sebelum.jpg"><br/>
            Depan, sebelum.
          </div>
        </div>

        <div class="col-xl-4 col-md-4 col-sm-6">
          <div href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" alt=""
                 src="{{< baseurl >}}posts/2018/03/20180304-belakang-sebelum.jpg"><br/>
            Belakang, sebelum.
          </div>
        </div>

        <div class="col-xl-4 col-md-4 col-sm-6">
          <div href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" alt=""
                 src="{{< baseurl >}}posts/2018/03/20180311-kap-01.jpg"><br/>
            Kap, pengerjaan.
          </div>
        </div>

        <div class="col-xl-4 col-md-4 col-sm-6">
          <div href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" alt=""
                 src="{{< baseurl >}}posts/2018/03/20180311-kap-02.jpg"><br/>
            Kap, pengerjaan.
          </div>
        </div>

        <div class="col-xl-4 col-md-4 col-sm-6">
          <div href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" alt=""
                 src="{{< baseurl >}}posts/2018/03/20180311-sesudah-belakang.jpg"><br/>
            Belakang, sesudah.
          </div>
        </div>

      </div>

    </div>
    <!-- /.container -->
