---
type   : post
title  : "BMW - Ganti Warna"
date   : 2019-04-15T09:17:35+07:00
slug   : bmw
categories: [ketok]
tags   : [mobil]
author : epsi

---

    <!-- Page Content -->
    <div class="container">

      <h3 class="my-4 text-center text-lg-left">September 2018:</h3>

      <div class="row text-center text-lg-left">

        <div class="col-xl-4 col-md-4 col-sm-6">
          <div href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" alt=""
                 src="{{< baseurl >}}posts/2019/04-bmw/20190404_204121.jpg"><br/>
            Body, Pra Pengerjaan
          </div>
        </div>

        <div class="col-xl-4 col-md-4 col-sm-6">
          <div href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" alt=""
                 src="{{< baseurl >}}posts/2019/04-bmw/20190415_151101.jpg"><br/>
            Body, Ubah Warna.
          </div>
        </div>

        <div class="col-xl-4 col-md-4 col-sm-6">
          <div href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" alt=""
                 src="{{< baseurl >}}posts/2019/04-bmw/20190415_151224.jpg"><br/>
            Kap Belakang, Biru.
          </div>
        </div>

        <div class="col-xl-4 col-md-4 col-sm-6">
          <div href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" alt=""
                 src="{{< baseurl >}}posts/2019/04-bmw/20190430_155410.jpg"><br/>
            Oven, Kap Depan, Biru.
          </div>
        </div>

        <div class="col-xl-4 col-md-4 col-sm-6">
          <div href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" alt=""
                 src="{{< baseurl >}}posts/2019/04-bmw/20190430_155440.jpg"><br/>
            Oven, Kap Depan, Biru.
          </div>
        </div>

        <div class="col-xl-4 col-md-4 col-sm-6">
          <div href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" alt=""
                 src="{{< baseurl >}}posts/2019/04-bmw/20190509_095132.jpg"><br/>
            Oven, Parts, Biru.
          </div>
        </div>

        <div class="col-xl-4 col-md-4 col-sm-6">
          <div href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" alt=""
                 src="{{< baseurl >}}posts/2019/04-bmw/20190509_095207.jpg"><br/>
            Oven, Kap Belakang, Biru.
          </div>
        </div>

        <div class="col-xl-4 col-md-4 col-sm-6">
          <div href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" alt=""
                 src="{{< baseurl >}}posts/2019/04-bmw/20190509_122203.jpg"><br/>
            Depan, Terpasang.
          </div>
        </div>

        <div class="col-xl-4 col-md-4 col-sm-6">
          <div href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" alt=""
                 src="{{< baseurl >}}posts/2019/04-bmw/20190509_122225.jpg"><br/>
            Depan, Terpasang.
          </div>
        </div>

        <div class="col-xl-4 col-md-4 col-sm-6">
          <div href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" alt=""
                 src="{{< baseurl >}}posts/2019/04-bmw/20190509_122309.jpg"><br/>
            Body, Belakang, Utuh.
          </div>
        </div>

        <div class="col-xl-4 col-md-4 col-sm-6">
          <div href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" alt=""
                 src="{{< baseurl >}}posts/2019/04-bmw/20190516_072639.jpg"><br/>
            Body, Depan, Lengkap.
          </div>
        </div>

        <div class="col-xl-4 col-md-4 col-sm-6">
          <div href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" alt=""
                 src="{{< baseurl >}}posts/2019/04-bmw/20190516_072652.jpg"><br/>
            Body, Belakang, Lengkap.
          </div>
        </div>

        <div class="col-xl-4 col-md-4 col-sm-6">
          <div href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" alt=""
                 src="{{< baseurl >}}posts/2019/04-bmw/20190516_082801.jpg"><br/>
            Grill, Depan.
          </div>
        </div>

      </div>

    </div>
    <!-- /.container -->
