---
type   : post
title  : "Oven"
date   : 2019-02-17T09:17:35+07:00
slug   : oven
categories: [ketok]
tags   : [mobil]
author : epsi

---

    <!-- Page Content -->
    <div class="container">

      <h3 class="my-4 text-center text-lg-left">September 2018:</h3>

      <div class="row text-center text-lg-left">

        <div class="col-xl-4 col-md-4 col-sm-6">
          <div href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" alt=""
                 src="{{< baseurl >}}posts/2019/02-oven/20190202_154406.jpg"><br/>
            Depan, Siang, Kosong
          </div>
        </div>

        <div class="col-xl-4 col-md-4 col-sm-6">
          <div href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" alt=""
                 src="{{< baseurl >}}posts/2019/02-oven/20190202_154412.jpg"><br/>
            Dalam, Siang, Kosong
          </div>
        </div>

        <div class="col-xl-4 col-md-4 col-sm-6">
          <div href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" alt=""
                 src="{{< baseurl >}}posts/2019/02-oven/20190217_152840.jpg"><br/>
            Siang, Bayangan Pintu.
          </div>
        </div>

        <div class="col-xl-4 col-md-4 col-sm-6">
          <div href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" alt=""
                 src="{{< baseurl >}}posts/2019/02-oven/20190217_173233.jpg"><br/>
            Depan, Sore, Kosong
          </div>
        </div>

        <div class="col-xl-4 col-md-4 col-sm-6">
          <div href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" alt=""
                 src="{{< baseurl >}}posts/2019/02-oven/20190516_081635.jpg"><br/>
            Luar, Pagi, Isi.
          </div>
        </div>

      </div>

    </div>
    <!-- /.container -->
