  {{ $year := .Key }}
  <div class ="anchor-target archive-year" 
       id="{{ $year }}">
       {{- if eq .Key (now.Format "2006") -}}
         This year's posts ({{ $year }})
       {{- else -}}
         {{ .Key }}
       {{- end -}}
  </div>

  <div class="row">
  {{ range (.Pages.GroupByDate "January") }}
  {{ $month := .Key }}
    <div class="col-lg-4 col-md-6 col-sm-12 pl-3">

      <div class="card mb-3" id="{{ $year }}-{{ $month }}">
        <div class="card-header bg-stripe-zero text-dark pb-0">
          <p class="card-title">{{ $month }} - {{ $year }}</p>
        </div>
        <div class="card-body py-2">

        <div class="pl-3">
          {{ range .Pages }}
          <div class="d-flex flex-row-reverse archive-item">
            <div class="text-right text-nowrap"><time>
                {{ .Date.Format "02 Jan" }}&nbsp;</time></div>
            <div class="mr-auto"><a href="{{ .URL | absURL }}">
              {{ .Title }}
            </a></div>
           </div>
          {{ end }}
         </div>

        </div>
      </div>

    </div>
  {{ end }}
  </div>

