<!DOCTYPE html>
<html lang="en">
{{ partial "site/head.html" . }}
<body>
{{ partial "service/google-analytics.html" . }}
{{ partial "site/header.html" . }}

  <div class="container-fluid maxwidth">

    <div class="row layout-base">
      {{- block "yaosb" . }}
      <div id="sitedesc_image"></div>
      {{- end }}

      {{- block "main" . }}
      {{ .Content }}
      {{- end }}

      {{- block "aside" . }}{{- end }}
    </div><!-- .row -->

  </div><!-- .container-fluid -->

{{ partial "site/footer.html" . }}
{{ partial "site/scripts.html" . }}
{{ block "custom-javascript" . }}{{ end }}
</body>
</html>

