{{ if ne (printf "%v" $.Site.BaseURL) "http://localhost:1313/" }}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-78098670-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-78098670-3');
</script>
{{ else }}
   <!-- code for localhost only -->
{{ end }}
