+++
title = "Cat dan Ketok Mobil"
description = "Selamat Datang"

[opengraph]
  image = "site/images/logo-altekk85.png"
+++
          <p class="lead text-muted">
              Halo semua, nama saya Simon.
              Pengelola bengkel cat oto Spies.</p>

          <h2>Selamat datang di Oto Spies</h2>

          <p>
            <a href="{{< baseurl >}}pages/archives" 
               class="btn btn-primary my-2">Daftar Isi Urut Tanggal</a>
            <a href="{{< baseurl >}}tags" 
               class="btn btn-secondary my-2">Daftar Isi Berdasar Tag</a>
          </p>

          <div class="justify-content-center">
            <img src="{{< baseurl >}}site/images/adverts/oto-spies-01.png" 
                 class="bio-photo" 
                 alt="kartu nama">
          </div>

          <p class="lead text-muted">
              Silahkan datang ke bengkel kami.
              <i>Car Painting and Body Repair</i>.
              Cat dan Ketok Mobil:</p>

          <div class="justify-content-center">
            <img src="{{< baseurl >}}site/images/adverts/oto-spies-02.png" 
                 class="bio-photo" 
                 alt="kartu nama">
          </div>

          <p class="lead text-muted">
            <span class="fas fa-home"></span>&nbsp;
              Jl. Bukit Cinere nomor 92D.
              Gandul, Cinere, Depok, 16512, Indonesia.
              <br/>
            <span class="fab fa-whatsapp"></span>&nbsp;
              Mobile/Whatsapp: Simon Haryanto:
              <span class="fas fa-phone"></span>&nbsp;0822 9893 3718.</p>

          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1982.7069954474382!2d106.79409665647451!3d-6.340392263800457!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69ef6f0f96de59%3A0x4c04b462de01655b!2sOto+Spies!5e0!3m2!1sen!2sid!4v1549429794263"
                  width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
