{{ define "main" }}
<main role="main" 
      class="container-fluid m-3 m-sm-0 p-3
             bg-light rounded border border-dark shadow-hover">
  <header>
    <h2>{{ .Title | default .Site.Title }}</h2>
  </header>

  <article>
    {{ .Content }}
  </article>

  {{ $posts := where .Site.Pages "Type" "post" }}
  <section id="archive">
    {{ range ($posts.GroupByDate "2006") }}
      {{ partial "summary/by-month.html" . }}
    {{ end }}
  </section>
</main>
{{ end }}

