.main-content img {
    @include img-fluid;
}

.main-content table th,
.main-content table td {
  padding: 5px;
  border: 1px solid #ddd;
}

.main-content blockquote {
    border-color: #ddd;
    border-color: rgba(0, 0, 0, 0.15);
    
    padding: 10px 20px 0px 20px;
    border-left: 5px solid #2980b9;
    font-size: 20px;
}

.main-content blockquote:hover {
    border-left-color: $yellow;
    background-color:  $blue;
    color: white;
    box-shadow: 3px 3px 3px rgba(0,0,0,.5);  
    @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);
}

.main-content blockquote:hover a { color: #f7d316; }
