/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 1px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

// ---------------------------------------------------------------------
// 

.bg-stripe {

  img {
    width:  48px;
    height: 48px;
    margin-top: -15px;
  }

  @include box-shadow(0 1px 1px rgba(0,0,0,.05));

  background: $yellow url("../images/stripe-glossy/00.png") left top repeat-x;

  ul.navbar-nav li a:hover,
  ul.navbar-nav li.dropdown.open a.dropdown-toggle,  
  ul.navbar-nav li a:focus {
    background: $blue url("../images/stripe-glossy/00.png") left top repeat-x;
    box-shadow: 2px 2px 2px rgba(0,0,0,.2); 
    border-radius: 4px;
  }

  a.dropdown-item { color: black; }
}

.bg-stripe:hover {
    box-shadow: 2px 2px 2px rgba(0,0,0,.2); 
}


// ---------------------------------------------------------------------
// 

#layout-header {
  display: none;
}

@include media-breakpoint-up(md) {
  #layout-header {
    display: block;
  }
}

#layout-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;  
}

#layout-header_message {
  padding-top: 57px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

#layout-header_message {
    font-size: 12px;    
    text-align:left;
    
    @include gradient-striped(rgba(255,255,255,.15), 45deg);
}

// Fix div p, unwanted margin 
div#layout-header p, div#layout-header h3 {
    margin: 0 .25em;
    padding: .25em 0;
}
