<div class="card hidden-sm hidden-xs mb-3 shadow-hover">
  <div class="card-header bg-stripe-zero text-dark pb-0">
    <span class="fas fa-child float-right"></span>
    <p class="card-title">Affiliates</p>
    <div class="clearfix"></div>
  </div>
  <div class="card-body py-2">
    <ul class="card_list">
      <li><a href="http://epsi-rns.github.io/">
        Linux/BSD Desktop Customization</a></li>
      <li><a href="http://epsi-rns.gitlab.io/">
        Web and Mobile Developmet</a></li>
      <li><a href="https://akutidaktahu.netlify.com/">
        Usaha Kecil Menengah</a></li>
    </ul>
  </div>
</div>

