
<footer class="container bg-transparent">
  <div class="col-md-8 offset-md-2
              text-center text-dark maxwidth rounded-top">
    {{ $owner := .Site.Data.owner }}

    <span>{{ .Site.Title }}<br/>
    {{ $owner.name }} &copy; {{ now.Year }}.
    Powered by <a href="https://gohugo.io" rel="nofollow">Hugo</a>.
    </span>

  </div>
</footer>

